:root {
  --color-primary: #191d2b;
  --color-secondary: #178286;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
}

/*****  LDOCE  ***************************/
.ldoceEntry {
  line-height: 1.8rem;

  .Head {
    padding-top: .5rem;
    padding-left: .5rem;
    border-bottom: 3px #178286 solid;
  }

  .speaker,
  .tooltip,
  img,
  .topics_container,
  .FREQ,
  .newline {
    display: none;
  }
}

.ldoceEntry .Entry {
  font-size: 12pt;
  text-align: justify;
  display: block;
  margin-top: 8px;
}

.ldoceEntry .Thesref {
  color: var(--color-secondary);
}


.ldoceEntry .ABBR {
  font-weight: bold;
}

.ldoceEntry .ACTIV {
  display: none;
}

.ldoceEntry .AMEQUIV {
  font-weight: bold;
}

.ldoceEntry .BOX {
  display: none;
}

.ldoceEntry .BREQUIV {
  font-weight: bold;
}

.ldoceEntry .COLLO {
  font-weight: bold;
  margin-left: 20px;
}

.ldoceEntry .ColloExa {
  display: block;
}

.ldoceEntry .COLLOINEXA {
  font-weight: bold;
}

.ldoceEntry .COMMENT {
  display: none;
}

.ldoceEntry .COMP {
  font-weight: bold;
}

.ldoceEntry .Crossrefto {
  font-weight: bold;
  font-size: 120%;
}

.ldoceEntry .DERIV {
  font-weight: bold;
  font-size: 120%;
}

.ldoceEntry .Entry {
  font-size: 11pt;
  text-align: justify;
}

.ldoceEntry .ErrorBox {
  display: block;
}

.ldoceEntry .EXAMPLE {
  display: block;
  margin-left: 1rem;
  margin-bottom: .8rem;
  padding-left: .5rem;
  color: var(--color-white);
  border-bottom: 1px var(--color-secondary) solid;
}


.ldoceEntry .FIELD {
  display: none;
}

.ldoceEntry .AC,
.ldoceEntry .synopp {
  color: #fff;
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
}

.ldoceEntry .FREQ {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.ldoceEntry .LEVEL {
  color: var(--color-secondary);
  font-size: 120%;
}

.ldoceEntry .FULLFORM {
  font-weight: bold;
}

.ldoceEntry .GEO,
.ldoceEntry .geo {
  font-weight: normal;
  color: var(--color-secondary);
}

.ldoceEntry .GLOSS {
  color: var(--color-secondary);
  font-weight: normal;
  font-style: normal;
}

.ldoceEntry .GRAM,
.bussdictEntry .GRAM {
  color: var(--color-secondary);
  font-weight: bold;
  margin: 0 5px 10px 3px
}

.ldoceEntry .GramExa {
  display: block;
}

.ldoceEntry .HINTBOLD {
  font-weight: bold;
}

.ldoceEntry .HINTITALIC {
  font-style: italic;
}

.ldoceEntry .HINTTITLE {
  font-weight: bold;
}

.ldoceEntry .frequent .HOMNUM {
  vertical-align: super;
  font-size: 12pt;
  color: var(--color-secondary);
  font-weight: bold;
  margin-left: .5rem;
}

// .ldoceEntry .frequent .HYPHENATION {
//   color: var(--color-secondary);
//   font-size: 2rem;
// }

.ldoceEntry .HOMNUM {
  vertical-align: super;
  font-size: 12pt;
  color: var(--color-secondary);
  font-weight: bold;
  margin-left: .5rem;
}

.ldoceEntry .HWD {
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 600;
}

.ldoceEntry .HYPHENATION,
.ldoceEntry .PHRVBHWD {
  display: none;
  font-weight: bold;
  font-size: 160%;
  color: var(--color-secondary);
}

.ldoceEntry .LEXUNIT,
.ldoceEntry .LEXVAR {
  font-weight: bold;
}

.ldoceEntry .LINKWORD {
  color: var(--color-secondary);
}

.ldoceEntry .NOTE,
.ldoceEntry .Noteprompt {
  display: none;
}

.ldoceEntry .OBJECT {
  font-weight: normal;
}

.ldoceEntry .OPP,
.ldoceEntry .ORTHVAR,
.ldoceEntry .PASTPART,
.ldoceEntry .PASTTENSE {
  font-weight: bold;
}

.ldoceEntry .PhrVbEntry {
  display: block;
}

.ldoceEntry .PIC,
.ldoceEntry .PICCAL {
  display: none;
}

.ldoceEntry .PLURALFORM {
  font-weight: bold;
}

.ldoceEntry .POS,
.bussdictEntry .POS {
  color: var(--color-secondary);
  font-weight: bold;
  margin: 0 0 0 10px
}

.ldoceEntry .PRESPART,
.ldoceEntry .PRESPARTX {
  font-weight: bold;
}

.ldoceEntry .PROPFORM {
  font-weight: bold;
  margin-left: 20px;
}

.ldoceEntry .PROPFORMPREP {
  font-weight: bold;
  margin-left: 20px;
}

.ldoceEntry .PTandPP,
.ldoceEntry .PTandPPX {
  font-weight: bold;
}

.ldoceEntry .REFHOMNUM {
  vertical-align: super;
  font-size: 60%;
}

.ldoceEntry .REFHWD {
  font-weight: bold;
  font-style: normal;
}

.ldoceEntry .REFLEX {
  font-weight: bold;
}

.ldoceEntry .REGISTERLAB {
  color: var(--color-secondary);
  font-style: italic;
}

.ldoceEntry .RELATEDWD {
  font-weight: bold;
  color: var(--color-secondary);
}

.ldoceEntry .RunOn {
  display: block;
  margin-bottom: 10px;
}

.ldoceEntry .Sense {
  display: block;
  margin-left: 20px;
  margin-top: 2rem;
  margin-bottom: 15px;
}

.ldoceEntry .SIGNPOST {
  background-color: var(--color-secondary);
  color: white;
  font-weight: bold;
  font-size: 79%;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /* padding-left: 3px; */
  /* padding-right: 3px; */
  padding: 0px 5px;
  letter-spacing: 1px;
}

.ldoceEntry .STRONG {
  font-style: italic;
}

.ldoceEntry .Subsense {
  display: block;
  margin-left: 10px;
}

.ldoceEntry .SUPERL,
.ldoceEntry .SYN,
.ldoceEntry .T3PERSSING,
.ldoceEntry .T3PERSSINGX {
  font-weight: bold;
}

.ldoceEntry .UNCLASSIFIED {
  font-weight: bold;
}

.ldoceEntry .USAGE {
  display: none;
}

.ldoceEntry .GramBox .CROSS .neutral {
  color: var(--color-secondary);
  margin-right: 10px;
}

.ldoceEntry .neutral {
  margin-right: .5rem;
  color: var(--color-white);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

.ldoceEntry .EXPL .cross,
.ldoceEntry .GramBox .EXPL .dont_say,
.ldoceEntry .BADEXA {
  color: var(--color-secondary);
}

.ldoceEntry .italic {
  font-style: italic;
  font-weight: normal;
}

.ldoceEntry .infllab {
  font-style: italic;
  font-weight: normal;
}

.ldoceEntry .warning {
  font-style: normal;
  font-weight: bold;
  color: var(--color-secondary);
}

.ldoceEntry .sensenum {
  font-style: normal;
  font-weight: bold;
}

.ldoceEntry .synopp,
.ldoceEntry .AC {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px;
  padding-left: 4px;
  padding-right: 4px;
}

.bussdictEntry .Box,
.ldoceEntry .ColloBox,
.ldoceEntry .ThesBox,
.ldoceEntry .F2NBox,
.ldoceEntry .GramBox {
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid var(--color-secondary) 1px;
  padding: 15px;
  margin: 8px 0;
}

.GramBox {
  border: var(--color-secondary) 1px solid;
  border-radius: 5px;
}

.GramBox .boxheader {
  line-height: 2em
}

.ColloBox .heading {
  line-height: 2em;
  margin: 0 10px 0 0
}

.ThesBox .heading {
  line-height: 2em
}

.ldoceEntry .HEADING,
.ldoceEntry .heading {
  font-weight: bold;
  font-size: 120%;
  color: var(--color-secondary);
}

.ldoceEntry .HEADING.newline {
  display: block;
}

.ldoceEntry .SECHEADING,
.ldoceEntry .subheading {
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid var(--color-secondary) 2px;
  padding-left: 4px;
  padding-right: 20px;
  margin: .8rem 0 .8rem 0;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: var(--color-secondary);
}

.ldoceEntry .SECHEADING {
  text-align: center;
}

.ldoceEntry .Collocate,
.ldoceEntry .Exponent {
  display: block;
  margin: 15px 0 0 6px;
}

.ldoceEntry .EXPL {
  display: block;
}

.ldoceEntry .COLLOC,
.ldoceEntry .EXP,
.ldoceEntry .EXPR {
  font-weight: bold;
}

.ldoceEntry .keycollo {
  font-weight: bold;
  color: var(--color-secondary);
}

.ldoceEntry .THESPROPFORM {
  font-weight: bold;
}

.ldoceEntry .COLLEXA,
.ldoceEntry .THESEXA {
  color: var(--color-grey-4);
  display: block;
}


.ldoceEntry .LearnerItem {
  display: block;
}

.ldoceEntry .GOODCOLLO {
  font-style: italic;
}

.ldoceEntry .BADCOLLO {
  text-decoration: line-through;
}

.ldoceEntry .DEFBOLD {
  font-weight: bold;
}

.ldoceEntry .exafile {
  color: var(--color-grey-4);
  font-style: normal;
  font-size: 120%;
  padding: 5px;
}

.ldoceEntry .amefile {
  color: var(--color-secondary);
  font-size: 130%;
  padding-left: 5px;
}

.ldoceEntry .brefile {
  color: var(--color-secondary);
  font-size: 130%;
  padding-left: 5px;
}