#news {

  #news-header-content {
    display: block;

    #news-header {
      position: relative;
      margin: 0 auto;

      #news-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
      }
    }
  }
}