img {
  display: none;
}

.entry-header-content {
  display: flex;
  align-items: center;
  margin-bottom: .3rem;
  border-bottom: 3px #178286 solid;

  .hword {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 1rem;
  }

  .parts-of-speech {
    margin-left: 1rem;

    a {
      cursor: default;
    }
  }
}

.header-ins .col {
  display: none;
}

.entry-attr {
  display: none;
}

.ref-interlink:has(#ref-interlink) {
  display: none;
}

.vg-sseq-entry-item {
  display: flex;
  line-height: 2rem;

  .vg-sseq-entry-item-label {
    margin-right: .3rem;
  }

  .sb-entry {
    .sense {
      display: flex;

      .letter {
        margin-right: .3rem;
      }

      .dtText strong {
        margin-left: .2rem;
      }

      .plural {
        font-size: .8rem;
      }

      .sub-content-thread .ex-sent {
        border-bottom: 1.5px #178286 solid;
        padding: 0 .4rem;

        .mw_t_wi {
          color: #178286;
          font-weight: bold;
        }
      }
    }
  }
}

.entry-uros {
  display: none;
}